# Backend API URL
NEXT_PUBLIC_API_URL=<your_backend_url>

# Longdo Map API Key
NEXT_PUBLIC_LONGDO_KEY=<your_longdo_key>

# TinyMCE API Key (optional, for rich text editor)
NEXT_PUBLIC_TINYMCE_KEY=<your_tinymce_key>
